img {
    margin-left: 50%;
    margin-top: 5%;
    animation-name: rotor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: linear;
}

@keyframes rotor {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}