.navdefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4f;
}

button {
    border: none;
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdownMenu {
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    z-index: -1;
    width: 150px;
    text-align: center;
    box-shadow: 4px 8px 6px 0px rgba(54,4,54,1);
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #f9f9f9;
    background-color: #4a4a4f;
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover button {
    background-color: #018ec5
}

.dropdown:hover .dropdownMenu {
    transform:translateY(0);
}

.boxx {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 250px;
    margin-left: 25px;
    font-size: 1px;
    color: #bada55;
    background-color: #bada55;
    transition-property: width, background-color, color, font-size;
    transition-duration: 1s;
    cursor:grab;
}

.boxx:hover {
    width: 400px;
    background-color: #e84610;
    color: #000;
    font-size: 40px;
}

.wiki {
    text-decoration: none;
    margin-top: 250px;
    margin-left: 25px;
    transition-property: background-color; color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.wiki:hover {
    background-color: #000;
    color: white;
}

.ball {
    text-align: center;
    font-size: 6px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 50%;
    position: relative;
    color: #000;
    background-color: #000;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    cursor: grab;
}

.ball:hover {
    animation-play-state: paused;
    transform: scale(8);
    color: orange;
    z-index: 1;
    background-color: darkorchid;
}

@keyframes bounce {
    from {
        top: -200px;
    }
    to {
        top: 200px;
    }
}

.box {
    font-size: 3em;
    display: inline-block;
    width: 50px;
    height: 80px;
    background-color: red;
    transform: translate(100px, 150px);
    transition-duration: .5s;
    cursor:grab;
}

.box:hover {
    transform: translate(100px, 100px);
}

.box2 {
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: green;
    transform: rotate(0deg);
    transition-duration: 1s;
    transition-property: transform;
    cursor:pointer;
}

.box2:hover {
    transform: translate(0, 30px) rotate(180deg) scale(1.6);
}

.box3 {
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: #4f4fa7;
    transform: skew(20deg);
    transition-property: transform;
    transition-duration: 1s;
}

.box3:hover {
    transform: skew(-50deg);
}

.box4 {
    font-size: 3em;
    display: inline-block;
    background-color: turquoise;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    animation-name: rotor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}

@keyframes rotor {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.box5 {
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: yellow;
    transition-property: transform, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    cursor:move;
}

.box5:hover {
    transform: scale(5);
    background-color: green;
}

.box6 {
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: orangered;
    animation-name: rotor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: ease-in-out;
}

.box7 {
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: peru;
    cursor: cell;
    transition-property: transform, background-color;
    transition-duration: 1s;
}

.box7:hover {
    transform: translate(100%);
    background-color: brown;
}

.box8 {
    position:relative;
    font-size: 3em;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    background-color: aquamarine;
    transform: scale(1.5) translate(0px, 50px) skew(0deg, 20deg);
    animation-name: sideways;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sideways {
    from {
        left: -50px;
    }
    to {
        left: 100px;
    }
}